:root {
	height: 100%;
}

body {
	font-family: monogram, monospace;
	align-content: center;
	text-align: center;
	font-size: 1.8em;
	margin: 0;
}

body {
	background-color: black;
	color: white;
	height: 100%;
}

main {
	width: 1100px;
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
	border-top: none;
	border-bottom: none;
	background-image: url(static/Glitch_City.webp);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom;
}

main div.helper-space {
	padding-top: 5em;
	padding-bottom: 2em;
	background-color: #0009;
}

main form {
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 1em;
}

main form input {
	padding: 0.1em 0.4em;
}

main form input[type=text] {
	width: 70%;
}

main form input[type=submit] {
	cursor: pointer;
}

main #shortcuts {
	display: flex;
	justify-content: center;
	gap: 1em;
}

h1 {
	font-size: 4em;
	margin-top: 0;
	margin-bottom: 0.1em;
	font-weight: normal;
}

input {
	font-family: monogram;
	font-size: 1em;
	box-sizing: border-box;
	border-radius: 0;
	color: white;
}

input {
	background-color: #2248;
	border: white 1px solid;
}

input:hover {
	background-color: #224c;
}

input[type=text]:focus {
	outline: 0 !important;
}

a {
	color: #006ffa;
}

a:hover {
	color: #33cfff;
}

@font-face {
	font-family: monogram;
	src: url(font/monogram.ttf);
}

